@using System.Threading.Tasks;
@using System.Collections.Generic;

@model List<PilotTask>
@{
    ViewBag.Title = "Задания";
    Layout = "_FilesLayout";
}

<html>
    <head>
        <title>Задания</title>
    </head>
    <body>
        <div class="row" style="height:100%">
            <div class="col-md-3" style="height: 95%">
                <h3 align="center">Фильтры</h3>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Фильтры по состоянию задания
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked form-group" style="width: 100%">
                                    <li><a href="@Url.Action("Tasks", "Home")">Все задания</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "allExpired"})">Все просроченные</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "stage", stage = 5})">Завершённые</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "stage", stage = 4})">Ожидающие проверки</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "stage", stage = 3})">Отозванные</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "stage", stage = 2})">В работе</a></li>
                                    <li><a href="@Url.Action("Tasks", "Home", new {filter = "stage", stage = 1})">Выданные</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Фильтры по проектам, исполнителям и  подразделениям
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked form-group" style="width: 100%">
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Фильтр по проекту</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите проект <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%">
                                                @foreach (var project in ViewBag.Projects)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new {projectName = project})">@project</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Фильтр по исполнителю</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите исполнителя <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%; padding-left: 5%">
                                                @foreach (var person in ViewBag.Persons)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new {executorName = person})">@person</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Фильтр по подразделению</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите подразделение <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%; padding-left: 5%">
                                                @foreach (var unit in ViewBag.OrgUnits)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new { orgUnit = unit})">@unit</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Просроченные по проекту</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите проект <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%">
                                                @foreach (var project in ViewBag.Projects)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new {projectName = project, isExpired = true})">@project</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Просроченные по исполнителю</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите исполнителя <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%; padding-left: 5%">
                                                @foreach (var person in ViewBag.Persons)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new {executorName = person, expiredByPerson = true})">@person</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group" style="width: 100%; padding-left: 5%">
                                            <h5>Просроченные по подразделению</h5>
                                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" style="width: 95%">
                                                Выберите подразделение <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" style="width: 95%; padding-left: 5%; padding-bottom: 5%">
                                                @foreach (var unit in ViewBag.OrgUnits)
                                                {
                                                    <li><a href="@Url.Action("Tasks", "Home", new { orgUnit = unit, expiredByOrgUnit = true})">@unit</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="col-md-offset-3" style="padding-left: 2px;">
                <h1 align="center">@ViewBag.PgHeader</h1>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Заголовок задания</th>
                        <th>Инициатор</th>
                        <th>Исполнитель</th>
                        <th>Выдано</th>
                        <th>Срок</th>
                        <th>Выполнено</th>
                    </tr>
                        @foreach (var task in Model)
                        {
                            @if (task.DateOfCompletion > task.DeadlineDate || 
                                (task.DateOfCompletion == DateTime.MinValue.ToLocalTime() && 
                                DateTime.Now.ToLocalTime() > task.DeadlineDate))
                            {
                                <tr style="background-color:lightsalmon; opacity: 0.8">
                                    <td>@task.Title</td>
                                    <td>@task.Initiator</td>
                                    <td>@task.Executor</td>
                                    <td>@task.DateOfAssignment.ToString()</td>
                                    <td>@task.DeadlineDate.ToString()</td>
                                    @if (task.DateOfCompletion != DateTime.MinValue.ToLocalTime())
                                    {
                                        <td>@task.DateOfCompletion.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>Не завершено</td>
                                    }
                                </tr>
                            }
                            else if(task.State == TaskState.Completed)
                            {
                                <tr class="label-success" style="background-color: lightgreen; opacity: 0.8">
                                    <td>@task.Title</td>
                                    <td>@task.Initiator</td>
                                    <td>@task.Executor</td>
                                    <td>@task.DateOfAssignment.ToString()</td>
                                    <td>@task.DeadlineDate.ToString()</td>
                                    @if (task.DateOfCompletion != DateTime.MinValue.ToLocalTime())
                                    {
                                        <td>@task.DateOfCompletion.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>Не завершено</td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@task.Title</td>
                                    <td>@task.Initiator</td>
                                    <td>@task.Executor</td>
                                    <td>@task.DateOfAssignment.ToString()</td>
                                    <td>@task.DeadlineDate.ToString()</td>
                                    @if (task.DateOfCompletion != DateTime.MinValue.ToLocalTime())
                                    {
                                        <td>@task.DateOfCompletion.ToString()</td>
                                    }
                                    else
                                    {
                                        <td>Не завершено</td>
                                    }
                                </tr>
                            }
                        }
                </table>
                <div align="left" style="padding-left: 10px">
                    <a href="@Url.Action("WriteCsv", "Home")">Сохранить отчёт в формате .csv</a>
                </div>
            </div>
        </div>
    </body>
</html>